*{
    height: 100%;
    width:100%;
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    flex-direction: column;
}
header,section,aside,footer{
    border-color: red;
    border-style: groove;
    
}
header{
    height: 100px;
    display:flex; /*row wise with no wrap*/
    flex-wrap: nowrap;
    margin: 5px;
    background-color: aliceblue;
}
header h1{
    line-height: 100px;
    text-align: center;
}
nav{
    display: flex;
    direction: row;
    background-color: cadetblue;
    
    
}
a{
    text-decoration: none;
    text-align: center;
    line-height: 100px;
    
}
main{
    margin:5px;
    display:flex;
    flex: auto;
    height: max-content;

}
section{
    text-align: center;
    height: fit-content;
    margin: 5px;

}
#as-left{
    width:25%;
    height: fit-content;

}
#as-right{
    text-align: center;
    width:25%;
    height: fit-content;
}
footer{
    background-color: darkgray;
    height: 100px;
    text-align: center;
    margin: 5px;
}
img{
    width: 60px;
    height: 100px;
}